/*backgound image*/
body{
	background-image: url("b1.jpg");
}

#blackShadow:hover{
	height: 450px;
	background-color: rgba(0, 0, 0, 0.5);
}

div.bold
{
	position: relative;
	height: 80px;	
	background-color: rgba(71, 21, 41, 0.65);
}

div.heading{
	position: absolute;
	left: 45%;
	font-size: 17px;
}

h1{
	color: #f2f2f2;
}
h1, h2{
	font-family: 'Shadows Into Light', cursive;
}

#about{margin-top:  60px;}


#top-bar
{
	position: fixed;
	width: 100%;
	height: 90px;
	top: 0;
	left: 0;
	background-color: rgba(71, 21, 41, 0.65);
}

/* Add a black background color to the menu */
#menu
{
	margin-top: 20px;
	position: absolute;
	top: 5px;
	left: 15%;	
	overflow: hidden;
}

/* Style the links inside the navigation bar */
#menu a {
color: #f2f2f2;
padding: 14px 16px; 	
text-decoration: none;
font-size: 25px;
font-family: 'Shadows Into Light', cursive;
}

/* Change the color of links on hover */
#menu a:hover {
background-color: #ddd;
color: black;
}


#story
{
	padding-left: 15%;
	padding-right: 15%;
	font-size: 25px;
	font-family: 'Shadows Into Light', cursive;
}


.mySlides {
	display: none	
}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
max-width: 300px;
max-height: 300px;
position: relative;
margin: auto;
}

.mySlides { 
	position: relative; 
	width: 100%; /* for IE 6 */
 }
 
 .mySlides h2 { 
	position: absolute; 
	top: 350px; 
	left: 0; 
	width: 100%; 
 }
 h2 span { 
	color: white; 
	font-family:Georgia, 'Times New Roman', Times, serif;
	letter-spacing: -1px;  
	background: rgb(0, 0, 0); /* fallback color */
	background: rgba(0, 0, 0, 0.5);
 }


/* Next & previous buttons */
.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
padding: 16px;
margin-top: -22px;
color: white;
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
}

/* Position the "next button" to the right */
.next {
right: 0;
border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
background-color: #f1f1f1;
color: black;
}

#spa p {
	font-size: 25px;
	font-family: 'Shadows Into Light', cursive;
}

.text{
	width: 60%;
	padding-left: 15%;
}

.mailContainer
{
	box-shadow: rgba(71, 21, 41, 0.65);
	width: 50 vw;
	border-color: black;
}
.font{
	font-size: 25px;
	font-family: 'Shadows Into Light', cursive;
}
#contact{
	display: flex;
}
#mailbox{
	display: flex;
	align-items: center;
	justify-content: center;
}
#contact{
	display: flex;
	align-items: center;
	justify-content: center;
}

.container{
	width: 90%;
	max-width: 500px;
	margin: 0 auto;
	padding: 20px;
	box-shadow: 0px 0px 20px rgb(122, 119, 119);
	background-color: white;
	border-radius: 8px;
	margin-bottom: 20px;
}

#content{
	width: 100%;
	margin-top: 15px;
	resize: vertical;
}
#email{
	width: 100%;
	height: 40px;
	margin-top: 15px;
	resize: none;
}

input{
	background-color: white;
	padding: 10px;
	border-radius: 10px;
	width: 33%;
	margin-left: 10%;
}
input:hover{
	color: rgb(161, 68, 106);
	box-shadow: 0px 0px 20px rgba(122, 119, 119, 0.3);	
}
#emojis{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 35%;
	font-size: 35px;
}